@font-face {
    font-family: ShadowHand;
    src: url(fonts/ShadowHand.ttf);
}

@font-face {
    font-family: ObjectSansHeavy;
    src: url(fonts/PPObjectSans-Heavy.otf);
}

@font-face {
    font-family: ObjectSansHeavySlanted;
    src: url(fonts/PPObjectSans-HeavySlanted.otf);
}

@font-face {
    font-family: ObjectSansRegular;
    src: url(fonts/PPObjectSans-Regular.otf);
}

@font-face {
    font-family: ObjectSansSlanted;
    src: url(fonts/PPObjectSans-Slanted.otf);
}

@font-face {
    font-family: FiraSansBlack;
    src: url(fonts/FiraSans-Black.ttf);
}

@font-face {
    font-family: FiraSansBold;
    src: url(fonts/FiraSans-Bold.ttf);
}

@font-face {
    font-family: FiraSansExtraBold;
    src: url(fonts/FiraSans-ExtraBold.ttf);
}

@font-face {
    font-family: FiraSansRegular;
    src: url(fonts/FiraSans-Regular.ttf);
}

:root {
    --bord-raid: 27px;
    --site-txt-size: 14.4pt;
}

html {
    background-color: black;
    background-image: url("images/forest_bw_blur-1440p.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: repeat-y;
    box-shadow: 0 0 100px 100px rgba(0, 0, 0, 0.445) inset;
}

body {
    background-color: rgba(0, 0, 0, 0) !important;
}

h1 {
    font-family: ObjectSansHeavy;
    font-size: 4rem !important;
}

p {
    font-size: var(--site-txt-size);
    font-family: FiraSansRegular;
}

li {
    font-family: FiraSansRegular;
}

canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 999;
}

#loadingText {
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -49px;
    z-index: 999;
}

#loadingBg {
    position: fixed;
    z-index: 998;
    top: 0%;
    left: 0%;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.nav-item {
    font-family: ObjectSansSlanted;
}

.nav-item.active {
    font-family: ObjectSansHeavy !important;
    /* font-weight: bolder !important; */
    text-decoration: unset;
}
.nav-item:hover {
    text-decoration-line: overline;
    text-decoration: #fff wavy underline 1pt;
}

.nav-item.nav-work > a {
    color: #d7b47c !important;
}

.nav-item.nav-work > a:hover {
    color: var(--warning) !important;
}

.nav-item.nav-projects > a {
    color: #83b0a4 !important;
}

.nav-item.nav-projects > a:hover {
    color: var(--success) !important;
}

.nav-item.nav-github > a {
    color: #edafa9 !important;
}

.nav-item.nav-github > a:hover {
    color: var(--danger) !important;
}

.nav-item.nav-linkedin > a {
    color: #8ab2ce !important;
}

.nav-item.nav-linkedin > a:hover {
    color: var(--info) !important;
}

.navbar {
    border-radius: var(--bord-raid) !important;
    margin-top: 10px;
}

.bg-glass {
    background-color: rgba(126, 124, 124, 0.26) !important;
    backdrop-filter: blur(10px) !important;
    padding: 10px;
    border-radius: var(--bord-raid);
    margin: 10px;
}

.card-header,
.card-title,
.navbar-brand {
    font-family: FiraSansBold;
}

.btn {
    font-family: ObjectSansRegular;
}

.btn-work {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.small {
    width: 50px;
}

.lrpad {
    padding-left: 1em;
    padding-right: 1em;
}

#my-carousel {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#homeMe {
    margin: 10px;
    width: 20%;
}

.row .card {
    min-width: 18rem;
    max-width: 24rem;
}

.proj-img-help-text {
    display: unset;
}

.proj-img-help-text-mobile {
    display: none;
}

.proj-img {
    width: 45%;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: width 0.5s;
}

/* .proj-img:hover {
    width: 100%;
} */

/* .wtd-container:hover > .proj-img {
    width: 100%;
} */

#important-links {
    margin-left: auto;
    margin-right: auto;
    max-width: 875px;
}

#important-links .card {
    margin-right: 7px;
    margin-bottom: 7px;
    width: fit-content;
    background-color: transparent;
    border: none;
}

.skills-list {
    font-size: var(--site-txt-size);
    list-style-type: "";
}
/* ›   */

.skills-list > li {
    /* border-top: #444 solid; */
    border-bottom: #444 solid;
}

#work-places .card {
    margin: 7px;
}

.white-background {
    background-color: white;
}

.homepage-card {
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
}

.wide {
    max-width: 65rem !important;
}

.navDrawing {
    padding-right: 0.5em;
    width: 50px;
}

@media screen and (max-width: 800px) {
    #homeMe {
        width: 35%;
    }
}

@media screen and (max-width: 500px) {
    #homeMe {
        width: 50%;
    }
}

@media only screen and (max-width: 575px) {
    .proj-img-help-text {
        display: none;
    }

    .proj-img-help-text-mobile {
        display: unset;
    }

    .proj-img:active {
        width: 100%;
    }
}
