body {
    background-color: darkseagreen !important;
    font-family: 'Quicksand', sans-serif !important;
}

.small {
    width: 50px;
}

.carouselresize {
    widows: 11em;
}

.mybold {
    font-weight: 700;
}

.lrpad {
    padding-left: 1em;
    padding-right: 1em;
}